:root {
    --body-bg: #fff;
    --primary-bg: #f1f2f6;
    --secondary-bg: #F1F8FF;
    --txt-primary: #00A8F3;
    --txt-secondary: #88001B;
    --btn-secondary: #88001B;
    --btn-blue: #00A8F3;
    --text-color: #212529;
    --highlight-txt: #00A8F3;
    --body-font: 'Open Sans', sans-serif;
    --section-tgap: 60px;
    --section-bgap: 60px;
    --section-gap: 60px 0;

}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.btn {
    border: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-size: 18px;
    min-width: 180px;
    height: 46px !important;
    line-height: 36px;
    color: #fff;
}

button:focus, .btn:focus{
    outline: none;
}

.btn:hover {
    opacity: 0.9;
    color: #fff !important;
}

.bg-primary {
    background-color: var(--primary-bg) !important;
}

.btn-primary,
.hero-inner {
    background: rgb(31, 141, 205);
    background: linear-gradient(90deg, rgba(31, 141, 205, 1) 0%, rgba(109, 57, 125, 1) 53%, rgba(187, 82, 138, 1) 100%);
}




.btn-secondary {
    background-color: var(--btn-secondary) !important;
}

.btn-sm {
    min-width: 100px;
    height: 40px !important;
    font-size: 14px;
    padding: 0 5px;
    line-height: 40px;
}

.bg-white {
    background-color: #fff;
}

.btn-blue {
    background-color: var(--btn-blue) !important;
}





input {
    height: 50px !important;
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    border-radius: 20px !important;
    border-width: 2px !important;
}

.form-control:focus,
.css-1pahdxg-control,
.css-1pahdxg-control:hover {
    box-shadow: none !important;
    border-color: rgba(136, 0, 27, 0.7) !important;
    border-width: 2px !important;
}

.link-color {
    color: var(--highlight-txt);
}

.link-color:hover {
    color: var(--txt-secondary);
}

.container {
    max-width: 1200px;
}

.spacer {
    padding: var(--section-gap);
}

.link-color {
    color: var(--text-color);
}

.br-20 {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}



/* LOGIN FORM */

.login-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.form {
    border: 2px solid #ced4da;
    border-radius: 20px;
    padding: 30px;
    position: relative;
}

.site-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.site-logo {
    max-width: 450px;
    display: block;
    margin: 5px auto 0px;
}

/* LOGIN SIGNUP SCREEN */


.login-option {
    width: 60%;
    margin: 0 auto;
}

/* REGISTER SCREEN */

.custom-radio__btn input {
    display: none;
}

.custom-radio__btn label {
    position: relative;
    width: 130px;
    min-width: 130px;
    padding-left: 15px;
    padding-right: 0;
    text-align: left;
    background: rgb(31, 141, 205) !important;
}

.custom-radio__btn label::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #fff;
    content: "";
    border-radius: 50%;
    right: 20px;
}

.custom-radio__btn input:checked + label {
    background-color: var(--btn-secondary) !important;
}

.form form {
    overflow: hidden;
}

.steps-control {
    position: absolute;
    right: 30px;
    bottom: 30px;
}


/* Invite page */

header {
    height: 90px;
}

.logo {
    width: 180px;
}

.header-links > li > a {
    color: rgba(0, 0, 0, 0.40);
    font-size: 22px;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.header-links li {
    position: relative;
}

.header-links a:hover {
    color: var(--txt-secondary);
}

.header-links > li {
    margin-right: 20px;
}

.logged-user {
    position: relative;
    padding-right: 20px;
    z-index: 1;
}

.logged-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.logged-user i {
    position: absolute;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.logged-user:hover .logged-user__name i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.profile-dropdown {
    position: absolute;
    background-color: #fff;
    width: 175px;
    top: 100px;
    right: 0px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.profile-dropdown a {
    font-size: 14px;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    display: block;
}

.profile-dropdown li:last-child a {
    border-bottom: none;
    padding-bottom: 0px;
}


.logged-user:hover .profile-dropdown {
    opacity: 1;
    visibility: visible;
    top: 90px;
    right: 0px;
}

.search-form {
    width: 350px;
    margin-left: 40px;
}

.search-form input {
    background: url(../images/search-line.svg);
    background-repeat: no-repeat;
    background-position: 96% 50%;
}


.tooltip-inner,
.tooltip.bs-tooltip-right .arrow:before,
.tooltip.bs-tooltip-left .arrow:before,
.tooltip.bs-tooltip-bottom .arrow:before,
.tooltip.bs-tooltip-top .arrow:before {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f8aca+0,523379+32,994884+100 */
    background: #3f8aca;
    /* Old browsers */
    background: -moz-linear-gradient(left, #3f8aca 0%, #523379 32%, #994884 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3f8aca 0%, #523379 32%, #994884 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3f8aca 0%, #523379 32%, #994884 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f8aca', endColorstr='#994884', GradientType=1);
    /* IE6-9 */
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #523379 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #523379 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #523379 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #523379 !important;
}

.notifications__box {
    position: absolute;
    left: 0px;
    top: 100%;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    width: 300px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    z-index: 2;
}

.header-links li.notiifcation:hover .notifications__box {
    opacity: 1;
    visibility: visible;

}


.notification__listing {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    justify-content: space-between;
}

.notification__listing__item {
    width: calc(100% - 50px);
    padding-right: 10px;
    display: flex;
}

.notification__listing__item span {
    font-size: 14px;
    line-height: 19px !important;
    height: auto;
    display: block;
    width: -webkit-calc(100% - 55px);
    width: -moz-calc(100% - 55px);
    width: calc(100% - 55px);


}

.notification__action {
    width: 50px;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

.notification__action a {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    line-height: 22px;
    text-align: center;
    margin: 0 2px;
    color: #fff;
    font-size: 13px;
    opacity: 0.8;
}

.notification__action a:hover {
    color: #fff;
    opacity: 1;
}

.rejected {
    z-index: 99999;
    background-color: var(--btn-secondary);
}

.notification__action a.accepted {
    background-color: #2289ca;
}


.invite-option {
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.invite-option:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.invite-option:hover i {
    background-color: #88001B;
    color: #fff;
}

.invite-option i {
    width: 55px;
    height: 55px;
    border: 2px solid #88001B;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    color: #88001B;
    margin-right: 5px;
    vertical-align: sub;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    font-size: 1.3rem;
}

.invite-option > a {
    display: block;
    padding: 20px 30px;
    font-size: 1.1rem;
}

#invite-modal textarea {
    height: 100px;
    resize: none;
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    border-radius: 20px !important;
    border-width: 2px !important;
}


.modal-content {
    border: none !important;
}




/* PROIFLE PAGE */

.welcome__content {
    padding-left: 180px;
    padding-right: 180px;
}

.welcome h1,
.profile-action .ri-more-2-fill {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f8aca+0,523379+32,994884+100 */
    background: #3f8aca;
    /* Old browsers */
    background: -moz-linear-gradient(left, #3f8aca 0%, #523379 32%, #994884 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3f8aca 0%, #523379 32%, #994884 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3f8aca 0%, #523379 32%, #994884 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f8aca', endColorstr='#994884', GradientType=1);
    /* IE6-9 */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome a {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    min-width: 120px;

}

.welcome a i {
    vertical-align: middle;
}

.back-btn {
    left: 0px;
    ;
}

.next-btn {
    right: 0px;
}



/* card */

.profile-header {
    background-image: url(../images/31193.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
    /*    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0 */
}

/*.profile-header .profile-header-cover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .75) 100%)
}
*/

.cover-edit {
    background: linear-gradient(90deg, rgba(31, 141, 205, 1) 0%, rgba(109, 57, 125, 1) 53%, rgba(187, 82, 138, 1) 100%);
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    /* text-transform: uppercase; */
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff !important;
}

.profile-header-content__inner {
    position: relative;
    top: -50px;
}

.profile-header-info {
    padding-top: 55px;
}

.business-logo {
    width: 150px;
    height: 150px;
    padding: 4px;
    border-radius: 20px;
    border: 1px solid var(--txt-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -10px;
    background-color: #fff;
    overflow: hidden;
}

.business-logo img {
    max-width: 100%;
    max-height: 140px;
}

.profile-header > .container {

    position: absolute;
    left: 0;
    right: 0;

}

.profile-area {
    bottom: 0px;
}

.profile-header-content {
    background-color: #fff;
    padding: 0px 30px 10px 30px;
    border-radius: 10px 20px 0px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);

}

.profile-header-img {
    width: 120px;
    height: 120px;
    margin-right: 30px;
    position: relative;
}

.profile-header-img a,
.business-logo a {
    width: 30px;
    height: 30px;
    color: #fff;
    position: absolute;
    position: absolute;
    right: 15px;
    bottom: 0px;
    background: rgb(31, 141, 205);
    background: linear-gradient(90deg, rgba(31, 141, 205, 1) 0%, rgba(109, 57, 125, 1) 53%, rgba(187, 82, 138, 1) 100%);
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}

.profile-header-img img {
    max-width: 120px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
}

.profile-header-info h4 {
    font-weight: 500;
    color: #fff
}

.profile-tabs a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 20px;
}

.profile-tabs .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: var(--txt-secondary);
    background-color: #fff;
    
}

.profile-tabs {
    background: rgb(31, 141, 205);
    background: linear-gradient(90deg, rgba(31, 141, 205, 1) 0%, rgba(109, 57, 125, 1) 53%, rgba(187, 82, 138, 1) 100%);
}

.profile__box {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 23px;
}

.css-1pahdxg-control,
.css-yk16xz-control,
.css-yk16xz-control:focus {
    border-width: 2px !important;
    border-radius: 20px !important;
}

.profile__box__heading {
    margin-bottom: 30px;
}

.profile__box__heading:hover i {
    cursor: pointer;
    color: var(--txt-secondary);
}

.profile__box__options .nav-tabs {
    border-top: 1px solid #dee2e6;
}

#repoTabs > li:not(:last-child) {
    margin-right: 30px;
}

.profile__box__options a {
    color: var(--text-color);
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.profile__box__options a:hover,
.profile__box__options a.active {
    color: var(--txt-secondary);
}

.profile__box__options i {
    margin-right: 5px;
}

.user-info__blk:not(:last-child) {
    margin-bottom: 20px;
}

.user-info__blk p:last-child {
    margin-bottom: 0;
}

.user-info__heading {
    text-transform: capitalize;
}

.user-info__heading i {
    vertical-align: text-bottom;
}


.tab-content textarea {
    min-height: 150px;
    border-width: 2px;
    border-radius: 20px !important;
    resize: none;
}

.edit-general,
.hide-info,
.general-setting {
    display: none;
}

.show-general,
.general-setting-show {
    display: block;
}


.project-form,
.project-hide,
.socail-media-form {
    display: none;

}

.project-show,
.socail-show {
    display: block;

}

.form-btn > input:not(:last-child) {
    margin-right: 20px;
}

.project-timeline {
    right: 0px;
}

.project__icon {
    width: 40px;
}

.project__icon i {
    font-size: 30px;
}

.project__details {
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
}

.project__controls {
    margin-top: 30px;
}

.project__controls a {
    width: 30px;
    height: 30px;
    background: rgb(31, 141, 205);
    background: linear-gradient(90deg, rgba(31, 141, 205, 1) 0%, rgba(109, 57, 125, 1) 53%, rgba(187, 82, 138, 1) 100%);
    color: #fff !important;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin-right: 12px;
}

.project__controls a:hover {
    opacity: 0.9;
}

.projects__listing__inner:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}

.projects__listing__inner {
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    padding-top: 30px;
    margin-top: 30px;
    position: relative;
}


.social-media-field input {
    padding-left: 50px;
}

.social-media-field {
    position: relative;
}

.social-media-field i {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 3px;
    width: 40px;
    height: calc(100% - 4px);
    background: #fff;
    border-radius: 20px;
    transform: translateY(-50%);
    line-height: 50px;
    text-align: center;
}


.ri-youtube-line {
    color: #FF0000;
}

.ri-twitter-line {
    color: #1DA1F2;
}

.ri-linkedin-line {
    color: #0077b5;
}

.ri-facebook-line {
    color: #4267B2;
}

label {
    text-transform: capitalize;
}

.social-media-icons i {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 2px solid #eee;
    text-align: center;
    line-height: 48px;
    font-size: 30px;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.youtube-outline {
    border-color: #FF0000 !important;
}

.twitter-outline {
    border-color: #1DA1F2 !important;
}

.linkedin-outline {
    border-color: #0077b5 !important;
}

.facebook-outline {
    border-color: #4267B2 !important;
}

.youtube-outline:hover {
    background-color: #FF0000 !important;
    color: #fff;
}

.twitter-outline:hover {
    background-color: #1DA1F2 !important;
    color: #fff;
}

.linkedin-outline:hover {
    background-color: #0077b5 !important;
    color: #fff;
}

.facebook-outline:hover {
    background-color: #4267B2 !important;
    color: #fff;
}


.profile-action {
    display: flex;
    align-items: center;
    margin-top: 33px;
    position: relative;
}

.profile-action > a.frnd-btn{
    right: 50px;
}

.view-profile {
    height: 40px !important;
    line-height: 40px;
    min-width: 120px;
    padding: 0 5px;
    font-size: 14px;
}

.frnd-btn{
    min-width: 40px;
    width: 40px;
    text-align: center;
    padding: 0;
}
.frnd-btn i{
    margin: 0px !important;
}

.profile-action > a > i {
    vertical-align: middle;
}

.profile-action ul {
    background: rgb(31, 141, 205);
    background: linear-gradient(90deg, rgba(31, 141, 205, 1) 0%, rgba(109, 57, 125, 1) 53%, rgba(187, 82, 138, 1) 100%);
    position: absolute;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    width: 150px;
    top: 60px;
    right: 15px;
    visibility: hidden;
    opacity: 0;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.profile-action-active {
    visibility: visible !important;
    opacity: 1 !important;
}

.profile-action ul a {
    color: #fff;
    padding: 10px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 14px;
}


.profile-action ul li:last-child a {
    border-bottom: none;
}

.profile-action .ri-more-2-fill {
    font-size: 40px;
    cursor: pointer;
}

.profile-action ul i {
    vertical-align: middle;
}


/* SEARCH PAGE */
.search-users__wrapper {
    margin-bottom: 40px;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    align-items: center;

}

.search-users__wrapper:hover {
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
}


.search-users__img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.search-users__detail {
    width: calc(100% - 92px);
    width: -moz-calc(100% - 92px);
    width: -webkit-calc(100% - 92px);
    padding-left: 20px;
    padding-right: 200px;
}

.search-users__detail ul li a,
.search-users__detail ul li span {
    color: var(--text-color);
    padding: 0px 5px 0px 0px;
    margin-right: 5px;
}

.search-users__detail ul li a {
    border-right: 1px solid var(--text-color);
}

.search-users__detail i {
    vertical-align: middle;
    margin-right: 5px;
}

.view-profile {
    position: absolute;
    right: 20px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* FEEDS PAGE */

.feeds-post__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.feeds-post__user img
 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.post_comment__listing__user img, .post__commtent__user .feeds-post__user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}



.feeds-post__header input,
.post_comment__listing__review,
.post__comment__nested .post_comment__listing__commentbox {
    width: -moz-calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    margin-left: 20px;
}
.post_comment input{
    height: 40px !important;
}

.feeds-post__type i {
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    margin-right: 2px;
}

.link-option{
    background-color: #ff8a65;
}

.video-option{
    background-color:var(--btn-secondary);
}

.pictures-option{
    background-color:var(--btn-blue);
}

.feed_main > div{
width: 48% !important;
}

.feeds-post__type div {
    border-right: 1px solid #ced4da;
    width: 31%;
    text-align: center;
}
.feeds-post__type div:last-child {
border-right:none;

}

.card, .modal-content{
border-radius: 20px;

}
.card-body video {
    width: 100%;
    height: 300px;
}
.card-header:first-child {
    border-radius: 20px 20px 0px 0px;
}
.card-footer:last-child {
    border-radius: 0px 0px 20px 20px;
}



.feeds-post__type div > a {
    color: var(--text-color);
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    display: block;
}

.feeds-post__type a:hover {
    color:var(--txt-secondary);
}

#feeds-modal textarea {
    height: 80px;
    resize: none;
    border: none;
    font-size: 20px;
}

.feeds-post__user__heading select {
    font-size: 14px;

}

.feed-btn {
    background-color: rgb(31, 141, 205) !important;
}

.feeds-post__user__heading select {
    border-width: 2px;
    border-radius: 20px;
}

.card-header .feeds-post__user img {
    width: 60px;
    height: 60px;
}


.card-text {
    font-size: 14px;
}

.card {
    border: none;
}

.card-header,
.card-footer {
    background-color: #fff;
}

.post-status span {
    font-size: 14px;
}

.post-status span img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.post-status span:not(:last-child) {
    margin-right: 10px;
}

.card-footer span,
.post_comment__listing p {
    font-size: 13px;
}

.post__action .feeds-post__type {
    width: calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    padding-right: 15px;

}

.post_comment__listing {
    display: none;
}

.comment-bg {
    background-color: var(--primary-bg);
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 3px;
}

.comment-bg + span {
    display: block;
    font-size: 12px;
}

.comment-bg p {
    margin: 0px;
}

span.open-comment {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

span.open-comment i {
    font-size: 20px;
    line-height: 7px;
}

.post__comment__nested {
    margin-top: 1.5rem !important;
}

.post-share-link {
    position: relative;
}

.share-box {
    padding-top: 5px;
    position: absolute;
    left: 0;
    margin: 0 auto;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.open-share {
    visibility: visible;
    opacity: 1;
}

.carousel .slide img{
  max-width: 400px;
  margin:0 auto;
}

.share-box ul {
    background-color: #fff;
    width: 300px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    /* position: absolute; */
    /* right: 0; */
    /* top: 100%; */
    /* z-index: 1; */
}

/*
.share-box ul::before {
    background-color: #fff;
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
    right: 37px;
    top: 20px;
    transform: rotate(45deg);
}
*/

.share-box a {
    padding: 10px;
    display: block;
    border-bottom: 1px solid #ced4da;
    font-size: 14px;
}

.share-box a i {
    vertical-align: middle;
}

.share-box ul >li:last-child a{
border: none;
}

#post-modal .modal-lg {
    max-width: 90%;
}

#post-modal .post_comment {
    height: 350px;
    overflow-y: scroll;
}

#post-modal .carousel-control-next {
    left: 60%;
}

#post-modal .carousel-control-prev,
#post-modal .carousel-control-next {
    width: 5%;
}

#post-modal .post__commtent__user {
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
}


#post-modal .post_comment__listing__user img,
#post-modal .feeds-post__user img {
    width: 40px;
    height: 40px;
}

#post-modal .feeds-post__comment {
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    padding-left: 15px;
}

#post-modal .feeds-post__comment input {
    width: 100%;
    margin: 0px;
}

.carousel-slider .post_comment__listing, #post-modal .post_comment__listing{
display: flex;

}

.large-img video{
        width: 80%;
        height: 350px;
        object-fit: contain;
}

.react-box {
    position: absolute;
    width: auto !important;
    border: none !important;
    display: flex;
    background-color: #fff;
    top: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    z-index: 1;
    border-radius: 20px;
}

.react-icon {
    position: relative;
}

.react-box.open-emoji {
    visibility: visible;
    opacity: 1;
}

.react-box > a {
    border: navajowhite;
    padding: 0;
    width: auto;
    border: none;
    padding: 5px 15px !important;
    text-align: center;
}

.react-box > a span {
    font-size: 13px;
    text-transform: capitalize;
    display: none;
}

.react-box img {
    max-width: 42px;
}

.users-listing {
    height: 350px;
}

.users-listing__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.users-listing__item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

#pills-details {
    margin-bottom: 0 !important;
}

#pills-details > li {
    margin-right: 40px;
}

#pills-details .nav-item > a {
    display: flex;
    color: var(--text-color) !important;
    background-color: #fff !important;
    align-items: center;
    padding: 0;
}

#pills-details .nav-item > a img {
    width: 20px;
    margin-right: 10px;
}

#staus-modal .modal-dialog {
    max-width: 600px;
}

.post__action a {
    color: var(--text-color);
    font-size: 14px;
    line-height: 18px;
}

.post__action__inner > div {
    margin-right: 15px;
}
.post-share-link i{
    vertical-align: text-bottom;
}

.post__action__inner i{
    vertical-align:middle;  
}
