:root {
    --body-bg: #fff;
    --primary-bg: #f1f2f6;
    --secondary-bg: #F1F8FF;
    --txt-primary: #00A8F3;
    --txt-secondary: #88001B;

    --btn-secondary: #88001B;
    --text-color: #000000;
    --highlight-txt: #00A8F3;
    --body-font: 'Open Sans', sans-serif;
    --section-tgap: 60px;
    --section-bgap: 60px;
    --section-gap: 60px 0;

}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.btn {
    border: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-size: 18px;
    min-width: 180px;
    height: 46px !important;
    line-height: 36px;
}

.btn:hover {
    opacity: 0.9;
}

.bg-primary {
    background-color: var(--primary-bg) !important;
}

.btn-primary {
    background: rgb(31, 141, 205);
    background: linear-gradient(90deg, rgba(31, 141, 205, 1) 0%, rgba(109, 57, 125, 1) 53%, rgba(187, 82, 138, 1) 100%);
}

.btn-secondary {
    background-color: var(--btn-secondary) !important;
}


input {
    height: 50px !important;
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    border-radius: 20px !important;
    border-width: 2px !important;
}

.form-control:focus, .css-1pahdxg-control, .css-1pahdxg-control:hover{
    box-shadow: none !important;
    border-color: rgba(136,0,27,0.7) !important;
    border-width: 2px !important;
}

.link-color {
    color: var(--highlight-txt);
}

.link-color:hover {
    color: var(--txt-secondary);
}

.container {
    max-width: 1200px;
}

.spacer {
    padding: var(--section-gap);
}

.link-color {
    color: var(--text-color);
}



/* LOGIN FORM */

.login-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.form {
    border: 2px solid #ced4da;
    border-radius: 20px;
    padding: 30px;
    position: relative;
}

.site-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.site-logo {
    width: 300px;
    display: block;
    margin: 5px auto 0px;
}

/* LOGIN SIGNUP SCREEN */


.login-option {
    width: 60%;
    margin: 0 auto;
}

/* REGISTER SCREEN */

.custom-radio__btn input {
    display: none;
}

.custom-radio__btn label {
    position: relative;
    width: 130px;
    min-width: 130px;
    padding-left: 15px;
    padding-right: 0;
    text-align: left;
    background: rgb(31, 141, 205) !important;
}

.custom-radio__btn label::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #fff;
    content: "";
    border-radius: 50%;
    right: 20px;
}

.custom-radio__btn input:checked + label {
    background-color: var(--btn-secondary) !important;
}

.form form {
    overflow: hidden;
}

.steps-control {
	position: absolute;
	right: 30px;
	bottom: 30px;
}


/* Invite page */

header {
    height: 90px;
}

.logo {
    width: 180px;
}

.header-links a {
    color: rgba(0, 0, 0, 0.40);
    font-size: 22px;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.header-links a:hover {
    color: var(--txt-secondary);
}

.header-links > li {
    margin-right: 20px;
}

.logged-user {
    position: relative;
    padding-right: 20px;
    z-index: 1;
}

.logged-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.logged-user i {
    position: absolute;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.logged-user:hover .logged-user__name i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.profile-dropdown {
    position: absolute;
    background-color: #fff;
    width: 175px;
    top: 100px;
    right: 0px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.profile-dropdown a {
    font-size: 14px;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    display: block;
}

.profile-dropdown li:last-child a {
    border-bottom: none;
    padding-bottom: 0px;
}


.logged-user:hover .profile-dropdown {
    opacity: 1;
    visibility: visible;
    top: 90px;
    right: 0px;
}

.search-form {
    width: 350px;
    margin-left: 40px;
}

.search-form input {
    background: url(../images/search-line.svg);
    background-repeat: no-repeat;
    background-position: 96% 50%;
}


.invite-option {
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.invite-option:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.invite-option:hover i {
    background-color: #88001B;
    color: #fff;
}

.invite-option i {
    width: 55px;
    height: 55px;
    border: 2px solid #88001B;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    color: #88001B;
    margin-right: 5px;
    vertical-align: sub;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    font-size: 1.3rem;
}

.invite-option > a {
    display: block;
    padding: 20px 30px;
    font-size: 1.1rem;
}

#invite-modal textarea {
    height: 100px;
    resize: none;
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    border-radius: 20px !important;
    border-width: 2px !important;
}


.modal-content {
    border: none !important;
}



/* card */

.profile-header {
    /* background-image: url(../images/31193.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
    /*    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0 */
}

/*.profile-header .profile-header-cover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .75) 100%)
}
*/

.cover-edit {
    background: linear-gradient(90deg, rgba(31, 141, 205, 1) 0%, rgba(109, 57, 125, 1) 53%, rgba(187, 82, 138, 1) 100%);
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    /* text-transform: uppercase; */
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff !important;
}

.profile-header-content__inner{
  position: relative;
  top: -50px;	
}
.profile-header-info {
    padding-top: 55px;
}
.business-logo {
    width: 150px;
    height: 150px;
    padding: 4px;
    border-radius: 20px;
    border: 1px solid var(--txt-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -10px;
	background-color:#fff;
    overflow: hidden;
}
.business-logo img{
	max-width:100%;
    max-height: 140px;
}

.profile-header > .container {

    position: absolute;
    left: 0;
    right: 0;

}

.profile-area {
    bottom: 0px;
}
	
.profile-header-content {
    background-color: #fff;
    padding: 0px 30px 10px 30px;
    border-radius: 10px 20px 0px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
	
}

.profile-header-img {
    width: 120px;
    height: 120px;
    margin-right: 30px;
    position: relative;
}

.profile-header-img a , .business-logo a{
    width: 30px;
    height: 30px;
    color: #fff;
    position: absolute;
    position: absolute;
    right: 15px;
    bottom: 0px;
    background: rgb(31, 141, 205);
    background: linear-gradient(90deg, rgba(31, 141, 205, 1) 0%, rgba(109, 57, 125, 1) 53%, rgba(187, 82, 138, 1) 100%);
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}

.profile-header-img img {
    max-width: 120px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
}

.profile-header-info h4 {
    font-weight: 500;
    color: #fff
}

.profile-tabs a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 20px;
}

.profile-tabs .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: var(--txt-secondary);
    background-color: #fff;
    ;
}

.profile-tabs {
    background: rgb(31, 141, 205);
    background: linear-gradient(90deg, rgba(31, 141, 205, 1) 0%, rgba(109, 57, 125, 1) 53%, rgba(187, 82, 138, 1) 100%);
}

.profile__box {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.css-1pahdxg-control, .css-yk16xz-control, .css-yk16xz-control:focus{
    border-width: 2px !important;
    border-radius: 20px !important;
}

.profile__box__heading {
    margin-bottom: 30px;
}

.profile__box__heading:hover i {
    cursor: pointer;
    color: var(--txt-secondary);
}

.profile__box__options .nav-tabs {
    border-top: 1px solid #dee2e6;
}

#repoTabs > li:not(:last-child) {
    margin-right: 30px;
}

.profile__box__options a {
    color: var(--text-color);
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.profile__box__options a:hover , .profile__box__options a.active{
    color: var(--txt-secondary);
}

.profile__box__options i {
    margin-right: 5px;
}

.user-info__blk {
    margin-bottom: 20px;
}

.user-info__blk p:last-child {
    margin-bottom: 0;
}

.user-info__heading {
    text-transform: capitalize;
}

.user-info__heading i {
    vertical-align: text-bottom;
}


.tab-content textarea {
    min-height: 150px;
    border-width: 2px;
    border-radius: 20px !important;
    resize: none;
}

.edit-general, .hide-info, .general-setting {
    display: none;
}

.show-general, .general-setting-show{
    display: block;
}


.project-form, .project-hide, .socail-media-form{
	display:none;

}
.project-show, .socail-show{
	display:block;
	
}

.form-btn > input:not(:last-child) {
    margin-right: 20px;
}

.project-timeline {
    right: 0px;
}

.project__icon {
    width: 40px;
}

.project__icon i {
    font-size: 30px;
}

.project__details {
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
}

.project__controls{
    margin-top: 30px;
}
.project__controls a {
    width: 30px;
    height: 30px;
    background: rgb(31, 141, 205);
    background: linear-gradient(90deg , rgba(31, 141, 205, 1) 0%, rgba(109, 57, 125, 1) 53%, rgba(187, 82, 138, 1) 100%);
    color: #fff !important;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin-right: 12px;
}

.project__controls a:hover{
    opacity: 0.9;
}

.projects__listing__inner:first-child {
    border-top: none;
	    padding-top: 0;
    margin-top: 0;
}

.projects__listing__inner {
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    padding-top: 30px;
    margin-top: 30px;
    position: relative;
}


.social-media-field input {
    padding-left: 50px;
}

.social-media-field {
    position: relative;
}

.social-media-field i {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 3px;
    width: 40px;
    height: calc(100% - 4px);
    background: #fff;
    border-radius: 20px;
    transform: translateY(-50%);
    line-height: 50px;
    text-align: center;
}


.ri-youtube-line {
    color: #FF0000;
}

.ri-twitter-line {
    color: #1DA1F2;
}

.ri-linkedin-line {
    color: #0077b5;
}

.ri-facebook-line {
    color: #4267B2;
}

label {
    text-transform: capitalize;
}

.social-media-icons i {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 2px solid #eee;
    text-align: center;
    line-height: 48px;
    font-size: 30px;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.youtube-outline {
    border-color: #FF0000 !important;
}

.twitter-outline {
    border-color: #1DA1F2 !important;
}

.linkedin-outline{
    border-color: #0077b5 !important;
}

.facebook-outline {
    border-color: #4267B2 !important;
}

.youtube-outline:hover{
	  background-color: #FF0000 !important;
	  color:#fff;
}
.twitter-outline:hover {
    background-color: #1DA1F2 !important;
	 color:#fff;
}

.linkedin-outline:hover{
    background-color: #0077b5 !important;
	 color:#fff;
}

.facebook-outline:hover {
    background-color: #4267B2 !important;
	 color:#fff;
}


